@model Staff
@{
    ViewData["Title"] = "DetailStaff";
    Layout = "~/Areas/Admin/Views/Shared/_AdminUILayout.cshtml";
}

<h1>Detail Staff Page</h1>

@Html.Label("Staff Id")
<br />
<input type="text" asp-for="StaffId" class="form-control" disabled />
<br />
@Html.Label("Staff Name")
<br />
<input type="text" asp-for="StaffName" class="form-control" disabled />
<br />
@Html.Label("Staff Surname")
<br />
<input type="text" asp-for="StaffSurname" class="form-control" disabled />
<br />
@Html.Label("Staff Job")
<br />
<input type="text" asp-for="StaffJob" class="form-control" disabled />
<br />
@Html.Label("Staff Description")
<br />
<input type="text" asp-for="StaffDescription" class="form-control" disabled />
<br />
@Html.Label("Staff Image")
<br />
<img src="~/images/staff_images/@Model.StaffImage" alt="Staff Image" style="width:400px " />
<br />
<br />
<a href="/Admin/StaffPage/Index/" class="btn btn-dark">Back</a>